img {
  width: 250px;
  padding-top: 10px;
  padding-bottom: 15px;
}

body {
  margin: 40px 110px 50px;
  font-family: Times, serif;
}

.special {
  font-weight: bold;
  color: #20B2AA;
}

p {
  padding-bottom: 15px;
}

h3 {
  font-style: italic;
}

h4 {
  padding-bottom: 15px;
  font-style: italic;
}

ol {
 line-height: 2;
}

div.closing p {
  padding-top: 70px;
  font-style: italic;
  text-align: center;
}
